<% if flash.has?(:errors) %>
  <%= flash[:errors] %>
<% end %>

<h1> <%= @patient.name %></h1>
 Insured? <%= @patient.insurance %><br>
 Email: <%= @patient.email %><br>
 Procedures: <%= @patient.history %><br>

<a href="/patients/<%= @patient.id %>/edit">edit patient</a>

 <form action="/patients/<%= @patient.id %>/delete" method="post">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="delete"></input>
</form>

<h5><a href='/patients'>Patient Directory</a></h5>
<h5><a href='/logout'>Logout</a></h5>
